
<h1>Listing Appzips</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Id</th>
      <th>Pkgname</th>
      <th>Filesize</th>
			<th>Title</th>
      <th>Description</th>
      <th>Icon</th>
			<th>Dbtype</th>
			<th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appzips.each do |appzip| %>
      <tr>
        <td><%= appzip.user_id %></td>
        <td><%= appzip.id %></td>
        <td><%= appzip.pkgname %></td>
        <td><%= appzip.filesize %></td>
				<td><%= appzip.title %></td>
        <td><%= appzip.description %></td>
        <td><img style="height: 50px; width: 50px" 
						src="data:image/gif;base64,<%= appzip.icon %>"></td>
				<td><%= appzip.dbtype %></td>
				<td><%= appzip.status %></td>
        <td><%= link_to 'Show', appzip %></td>
        <td><%= link_to 'Edit', edit_appzip_path(appzip) %></td>
        <td><%= link_to 'Destroy', appzip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appzip', new_appzip_path %>
