<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @appzip.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @appzip.user_id %>
</p>

<p>
  <strong>Pkgname:</strong>
  <%= @appzip.pkgname %>
</p>

<p>
  <strong>Filesize:</strong>
  <%= @appzip.filesize %>
</p>

<p>
  <strong>Title:</strong>
  <%= @appzip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appzip.description %>
</p>

<p>
	<strong>Icon:</strong>
  <img style="height: 50px; width: 50px" src="<%= @appzip.icon %>">
</p>

<p>
  <strong>Dbtype:</strong>
  <%= @appzip.dbtype %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appzip.status %>
</p>

<%= link_to 'Edit', edit_appzip_path(@appzip) %> |
<%= link_to 'Back', appzips_path %>
