<div class="container-fluid">
	
	<div class="center">
		<h1>Subzaar</h1>
	</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Application</th>
      <th>Filesize</th>
      <th>Icon</th>
			<th>Progress</th>
    </tr>
  </thead>

  <tbody>
    <% @appzips.each do |appzip| %>
      <tr>
        <td><%= appzip.id %></td>
        <td><%= appzip.appname %></td>
        <td><%= appzip.filesize %></td>
        <td onclick="runinstall(<%= appzip.id %>, <%= appzip.zipfile.bytesize %>,
					'<%= appzip.appname %>')">
					<img id="icon" style="height: 50px; width: 50px" 
						src="data:image/gif;base64,<%= appzip.icon %>"></td>
				<td><span id="progmess"></span><br>
				<span id="progper"></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div id="alertmodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modaltitle" 
									class="modal-title alert-danger" style="padding-left: 10px">Alert</h4>
            </div>
            <div class="modal-body">
                <p id="alertmess"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
									 data-dismiss="modal">Close</button>
								<button id="continueop" type="button"
									class="btn btn-primary hidden" data-dismiss="modal">Continue</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script> 

/*
$(document).ready(function(){
	
})
*/

function runinstall(id, filesize, appname){
	console.log("In runinstall : id : " + id)
	if (typeof android === "undefined" || typeof android.install !== "function") {
		console.log("Before alert")
		alertmodal("Can install only from phone");
	} else {
		alertmodal("Continue to install : " + appname, function(){
			$("#progmess").text("Begin Download")
			android.install(id, filesize);
		});
	}
}


function updateProg(percent){
//	console.log("updateProg : "+percent)
	if (percent >= 0 && percent <= 100) {
		$("#progper").text(percent)
		$("#progmess").text("Downloading File")
	} else if (percent == -1001){
		$("#progper").text("")
		$("#progmess").text("Installing Site")
	} else if (percent == -1002){
		$("#progper").text("")
		$("#progmess").text("Installation Successful")
	} else {
		$("#progmess").text("Error : Failed")
	}
}
</script>


