<p id="notice"><%= notice %></p>

<h1>Listing Servers</h1>

<table>
  <thead>
    <tr>
      <th>Subname</th>
      <th>Deviceid</th>
	  <th>Contact</th>
      <th>Rtcid</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.subname %></td>
        <td><%= server.deviceid %></td>
		<td><%= server.contact %></td>
        <td><%= server.rtcid %></td>
        <td><%= server.status %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path %>

<p>
<br>
	<% if user_signed_in? %>
	  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        

	<% end %>
</p>