<!DOCTYPE html>
<html>
<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="ikdJUhzQ4XYFhrfgsnelwGZ08XqzTJ_YJVh9WwFJSdI" />
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js" %>
  
	<% if current_page?(controller: 'webrtc', action: "client") then %>
		<%= javascript_include_tag 'subsect', 'data-turbolinks-track' => true %>
		
		<%= javascript_include_tag 'adapter_no_edge', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'peer16na', 'data-turbolinks-track' => true %>
	
	<!--
		< javascript_include_tag 'peer.0.3.13', 'data-turbolinks-track' => true %>
		-->		
		
	<% else %>
		<% if current_page?(controller: 'static', action: "home") then %>
			<%= javascript_include_tag 'adapter_no_edge', 'data-turbolinks-track' => true %>
			<%= javascript_include_tag 'peer16na', 'data-turbolinks-track' => true %>
		<% end %>
		
		<title>Subsect</title>
		<meta name="Description" CONTENT="Subsect is a platform which allows individuals to have a persistent dynamic web presense hosted on their own internet connected mobile device." />
		
		<!--
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
			-->
		
		<%= csrf_meta_tags %>
	<% end %>
 
</head>
<body>

<%= yield %>

	<% if !current_page?(controller: 'webrtc', action: "client") then %>
<!--- This is for Devise -->
		<br/>
		<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
	<% end %>
	
</body>
</html>
