<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js" %>
  
	<% if current_page?(controller: 'webrtc', action: "client") then %>
		<%= javascript_include_tag 'subsect', 'data-turbolinks-track' => true %>
		
		<%= javascript_include_tag 'peer.0.3.13', 'data-turbolinks-track' => true %>
		<!--
		<% javascript_include_tag "http://cdn.peerjs.com/0.3/peer.min.js" %>
		-->
			
	<% else %>
		<% if current_page?(controller: 'static', action: "home") then %>
			<%= javascript_include_tag 'peer.0.3.13', 'data-turbolinks-track' => true %>
		<% end %>
		
		<title>Subsect</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		
		<%= csrf_meta_tags %>
	<% end %>
 
</head>
<body>

<%= yield %>

	<% if !current_page?(controller: 'webrtc', action: "client") then %>
<!--- This is for Devise -->
		<br/>
		<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
	<% end %>
	
</body>
</html>
