<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<% if current_page?(controller: 'webrtc', action: 'client') then %>
		<%= javascript_include_tag 'subsect', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "http://cdn.peerjs.com/0.3/peer.min.js" %>
		
	<% else %>
		<title>Subsect</title>
		<%= csrf_meta_tags %>
	<% end %>
 
</head>
<body>

<%= yield %>

</body>
</html>
